/* Color variables */
:root {
  --green: #88ac88;
  --rose: #f8d3c5;
  --active: #f2e8d8;
  --darker-rose: #ddb8a6;
  --tan: #b7ada0;
  --gray: #ccc;
}

/* Animations */
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Styles */
main {
  display: flex;
  align-items: center;
  font-family: Inter, sans-serif;
}

/* Jerdle Grid */
.grid-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 33%;
}

#grid {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  border: 1px solid black;
  position: 'relative';
}

.cell {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  height: 64px;
  width: 64px;
  text-transform: uppercase;
  font-size: 32px;

  &.active {
    background-color: var(--active);
  }
}

button {
  position: relative;
  margin-top: 16px;
  padding: 16px;
  background-color: var(--rose);
  font-family: Inter;
  font-weight: 600;
  border-radius: 8px;

  &::after {
    display: block;
    position: absolute;
    inset: 0;
    background-color: lightgray;
    content: '';
    z-index: -1;
    transform: translateY(6px) translateX(-6px);
    transition: transform 200ms;
    border-radius: 8px;
  }

  &:focus {
    outline-color: var(--darker-rose);
  }

  &:active,
  &.pressed {
    &::after {
      transform: translateY(0);
    }
  }
}

.error {
  flex: 0 1 33%;
  animation: fadeInOut 3s ease-in-out forwards;
  text-align: center;
}

/* Keyboard Hints */
#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-top: 32px;
  opacity: 1;
  transition: opacity 0.5s;

  &.hide {
    opacity: 0;
  }
}

.keyboard-row {
  display: flex;
  gap: 4px;
}

.keyboard-letter {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 24px;
  padding: 8px 4px 8px 4px;
  border-radius: 8px;
  border: 1px solid var(--gray);
}

/* Difficulty Switch */
.challenge-switch {
  flex: 0 1 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#challenge-label {
  font-weight: 500;
}

.switch {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60px;
  height: 32px;
  margin-top: 12px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--gray);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 24px;
  width: 24px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--rose);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--rose);
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Success Messgae */
dialog {
  border: 4px solid var(--rose);
  outline: none;

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}
